<div class="grid text-center">
  <div class="g-col-6">
    <h2>Bills</h2>
    {{#each this }}
    <div class="row">
      <p>{{description}} has an upcoming payment for ${{total_due}} on {{format_date due_date}}</p>
    </div>
    {{/each}}
    <button type="button" class="btn btn-success">Add a new bill</button>

    <div class="g-col-6">
       <h2>Payments</h2>
      {{#each this as |bill| }}
      {{#each payments}}
      <div class="row">
        <p>Your last payment for {{bill.description}} was for ${{this.paid_amount}} on {{format_date this.payment_date}}</p>
      </div>
      {{/each}}
    </div>
    {{/each}}
     <button type="button" class="btn btn-success">Add a new payment</button>
  </div>


  {{!--
  <script src="/js/loginScript.js"></script> --}}


  {{!-- https://getbootstrap.com/docs/5.3/layout/css-grid/ --}}