
  <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6">
      <div class="g-col-6">
        <h2>Bills</h2>
          {{#each bills}}
          <div class="col">
            {{!-- {{#if is_next_month due_date}} --}}
            <p>{{description}} has an upcoming payment for ${{total_due}} on {{format_date due_date}}</p>
            {{!-- {{/if}} --}}
          </div>
        {{/each}}
        <button type="button" class="btn btn-success">Add a new bill</button>
      </div>
  <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6">
      <div class="g-col-6">
        <h2>Payments</h2>
        {{#each bills }}
        {{#each payments}}
        <div class="col">
          <p>Your last payment for {{description}} was for ${{this.paid_amount}} on {{format_date
            this.payment_date}}</p>
        </div>
        {{/each}}
      </div>
      {{/each}}
      <button type="button" class="btn btn-success">Add a new payment</button>
    </div>
  </div>




    {{!-- https://getbootstrap.com/docs/5.3/layout/css-grid/ --}}