
<h4 id="id-user"> Good {{timeOfDays}}, {{#with payments.[0].bill.user}}{{toUpperCase username}} {{/with}}</h4>
<div class="container-payments">
  <div class="filter-box">
     
    <form class="form-filter">
      <label for="from">From:</label>
      <div class="input-icon">
    <input type="text" id="from" name="from" class="form-input-filter">
    <i class="fas fa-calendar"></i>
  </div>
      <label id="to1" for="to">to:</label>
       <div class="input-icon">
    <input type="text" id="to" name="to" class="form-input-filter">
    <i class="fas fa-calendar"></i>
  </div>
    </form>
    <div class="btn-filter-box">
      <button type="button" class="btn btn-success" id="dateBtn">Search</button>
    </div>
  </div>
  <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6 list-group1">
    <div class="payments-box1">
      <div class="g-col-6">
        <h2>Upcoming payments</h2>
        {{#each payments}}
        <div class="col list-group1">
          <p class="p-up-payments">{{bill.description}} has an upcoming payment for ${{bill.total_due}} on {{format_date bill.due_date}} </p>
          <p id="user-id"> {{bill.user_id}}</p>
        </div>
        {{/each}}
        <div>
          <a href="/bill/new" class="btn btn-success mt-3">Add a new bill</a>
          <a href="/dashboard" class="btn btn-success mt-3">Set a reminder</a>
        </div>
      </div>
    </div>
  
  <div class="g-col-6 payments-box2">
    <h2>Payment History</h2>
    {{#each payments}}
    <div class="col list-group1">
      <p class="p-up-payments">Your last payment for {{bill.description}} was for ${{this.paid_amount}} on {{this.payment_date}}</p>
    </div>
    {{/each}}
    <div>
      <button type="button" class="btn btn-success" id="new-payment">Add a new payment</button>
    </div>
  </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/paymentScript.js"></script>



{{!-- https://getbootstrap.com/docs/5.3/layout/css-grid/ --}}


{{!-- for the date picker
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
  $(function () {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    }, function (start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
  });
</script>

https://www.daterangepicker.com/#usage --}}