  <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6">
   <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>
      <div class="g-col-6">
        <h2>Upcoming payments</h2>
          {{#each payments}}
          <div class="col">
            {{!-- {{#if is_next_month due_date}} --}}
            <p>{{bill.description}} has an upcoming payment for ${{bill.total_due}} on {{format_date due_date}}</p>
            {{!-- {{/if}} --}}
          </div>
        {{/each}}
        <button type="button" class="btn btn-success">Add a new bill</button>
      </div>
  <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6">
      <div class="g-col-6">
        <h2>Payment History</h2>
        {{#each payments}}
        <div class="col">
          <p>Your last payment for {{bill.description}} was for ${{this.paid_amount}} on {{format_date
            this.payment_date}}</p>
        </div>
        {{/each}}
      </div>
    
      <button type="button" class="btn btn-success">Add a new payment</button>
    </div>
  </div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script src="/js/paymentScript.js"></script> 


{{!-- https://getbootstrap.com/docs/5.3/layout/css-grid/ --}}


{{!-- for the date picker
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
  $(function () {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    }, function (start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
  });
</script>

https://www.daterangepicker.com/#usage --}}